.board {
  background-image: url(screwsforhome.jpg);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.board__title{
  padding: 0;
  margin:10px;

}

.board__text {
  padding: 0;
 
  margin: 10px;
}